:root {
    --bgColor: rgb(59, 189, 155);
    --footerColorTop:rgb(105, 126, 150);
    --footerColorBottom();
}

/* MAIN */

main section:nth-child(odd) {
    background-color: var(--bgColor);
}


hr {
    border: 2px solid;
    opacity: 100%;
}

hr.white {
    background-color: white;
}

hr.thin {
    border: 0.1px solid;
    opacity: 25%;
}

.topFooter {
    background-color: var(--footerColorTop);
    width: 100vw;
    box-sizing: border-box;
}

.topFooter i {
    
    border: 2px solid white;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottomFooter {
    background-color: rgb(34, 47, 63);
    width: 100vw;
    box-sizing: border-box;
}

.linkGreen{
    color: var(--bgColor);
}

.buttonGreen {
    background-color: var(--bgColor);
    border: none;
}