:root {
    --bgColor: rgb(59, 189, 155);
}

/* MAIN */
main section:nth-child(odd) {
    background-color: var(--bgColor);
}

hr {
    border: 2px solid;
    opacity: 100%;
}

hr.white {
    background-color: white;
}

hr.thin {
    border: 0.1px solid;
    opacity: 25%;
}